<h2>All Invites</h2>
<ul>
<% 
		_.each(this.model.models, function(invite) {
%>
    <li>
        <a href="#/invite/<%= invite.get('id') %>">Detailed View</a> 
<%=
    invite.get('what') + ' ' + invite.get('who') + " " + invite.get('when') + " " + invite.get('where').venueName
%>

    </li>
<%
    });
%>

</ul>

<br />
<a href="#">Home</a>

<br />
<a href="#places">Places</a>

<br />
<a href="#people">People</a>

<br />
<a href="#person/self">Profile</a>
