<h2>People</h2>
<%= this.model.models.length %> contacts
<br />
<ul>
<% 
		_.each(this.model.models, function(person) {
%>
    <li>
        <a href="#/person/<%= person.get('id') %>">Profile Page for <%= person.get('name') %></a> 
    </li>
<%
    });
%>

</ul>

<a href="#">Home</a>


