<h2>Places</h2>

Search
<form>
	<input type="text" id="venue_search" />
	<button id="venue_search_submit">Search</button>
</form>

<%= this.model.models.length %> places
<br />

<ul>
<% 
		_.each(this.model.models, function(place) {
%>
    <li>
        <a href="#/place/<%= place.get('id') %>">Detailed View</a> 
<%=
    place.get('name') + '; ' + place.get('category')
%>

    </li>
<%
    });
%>

</ul>

<a href="#">Home</a>


